APP_URL=https://www.sudokumerlo.com
APP_DEBUG_KEY=change-me
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=database_name
DB_USERNAME=database_user
DB_PASSWORD=database_password
REPAIR_TECH_PASSWORD=change-me
TIENDA_WHATSAPP_NUMBER=5490000000000
